# Ignorar archivos de configuración del sistema
.DS_Store
Thumbs.db

# Ignorar carpetas y archivos relacionados con el sistema de Windows
AppData/
Desktop/
Documents/
OneDrive/
Videos/
Pictures/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/
node_modules/

# Ignorar historial de bash
.bash_history

# Ignorar archivos de VirtualBox
.VirtualBox/
VirtualBox\ VMs/

# Otras configuraciones específicas
*.log
